<%- include('partials/headAdm'); %>
  <body>
    <div class="d-flex">
      <%- include('partials/sidebarAdm'); %>
        <div class="w-100">
          <div id="content">
              <section class="p-5">
                <div class="container">
                  <div class="row">
                      <div class="col-md-12 mb-3">
                        <h3 class="text-center">Olá, BEM-VINDO(A)!<hr></h3>
                      </div>
                  </div>
                </div>
              </section>
            <%- include('partials/footerAdm'); %>
          </div>
        </div>
    </div>
  </body>